*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
}
.navbar1{
    background-color: #106f85;
}
.navbar .navbar-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .navbar-row .navbar-column{
    list-style: none;
    margin: 10px;
    position: relative;
}
.navbar .navbar-row .navbar-column a{
    text-decoration: none;
    color: #fff;
}
.navbar .navbar-row .navbar-column .navbar-seacrch{
    padding: 10px 200px 10px 30px;
    width: auto;
}
.navbar .navbar-row .navbar-btn{
    background-color: rgb(12, 99, 119);
    padding: 10px 25px 10px 25px;
}
.navbar .navbar-row .navbar-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.navbar .navbar-row .navbar-column .dropdown{
    list-style: none;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 999;
    display: none;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.navbar .navbar-row .navbar-column .dropdown .dropdown-item {
    display: block;
}
.navbar .navbar-row .navbar-column .dropdown .dropdown-item .dropdown-item-link{
    display: block;
    padding: 10px 15px;
    color: #000;
}
.navbar .navbar-row .navbar-column:hover .dropdown{
    display: block;
}
.dropdown-item-link:hover{
    color: #106f85;
}
.navbar2 .navbar-row{
    justify-content: start;
    margin-left: 200px;
}
.navbar2 .navbar-row .navbar-btn2{
    background-color: rgb(255, 255, 255);
    padding: 10px 25px 10px 25px;
}
.navbar2 .navbar-row .navbar-column .navbar2-item-link{
    color: #000;
}
.navbar2 .navbar-row .navbar-column .navbar2-item-link:hover{
    color:#106f85;
}
.con{
    padding-bottom: 2rem;
}
.slider-wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.slider{
    display:flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem  rgba(0,0,0,0.25);
    border-radius: 0.5rem;

}
.slider img{
    flex: 1 0 100%;
    object-fit: cover;
}
.slider-nav{
    display:flex;
    column-gap:1rem;
    position :absolute;
    bottom:1.25rem;
    left:50%;
    transform :translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 1rem;
    height:1rem;
    background-color: #fff;
    border-radius: 50%;
    opacity :0.75;
}
.slider-nav a:hover{
    opacity:1;
}
.container-banner{
    margin-top: 10px;
}
.container-banner .row{
    display: flex;
    justify-content: center;
}
.container-banner .row .column{
    padding: 0 10px 0 10px;
}
.container-banner .row .column .column-text-h2{
    margin: 50px;
    position: relative;
}
.container-banner .row .column .column-text-h2::before{
    content: "";
    position: absolute;
    background-color: #106f85;
    height: 2px;
    width: 235px;
    top: -20px;
}
.container-banner .row .column .column-text-h2::after{
    content: "";
    position: absolute;
    background-color: #106f85;
    height: 2px;
    width: 235px;
    bottom: -20px;
    left: 0;
}
.container-banner .row .column .column-text-h2 .column-text-link{
    text-decoration: none;
}
.container-banner .row .column .column-text-h2 .column-text-link .t1{
    color: #106f85;
}
.container-banner .row .column .column-text-h2 .column-text-link .t2{
    color: #000;
}
.container-banner .row .column .column-text-h2 .column-text-link .t2:hover{
    color: #106f85;
}
 
/* mobile */
@media (max-width: 768px){
    .navbar .navbar-row{
        flex-direction: column;
    }
    .navbar .navbar-row .navbar-column .navbar-seacrch{
        padding: 10px 20px 10px 20px;
        width: 100%;
    }
    .navbar2 .navbar-row{
        flex-direction: column;
        margin-left: 0;
    }
    .container-banner .row{
        flex-direction: column;
    }
    .container-banner .row .column .column-text-h2{
        margin: 20px;
    }
    .container-banner .row .column .column-text-h2::before{
        width: 150px;
        top: -10px;
    }
    .container-banner .row .column .column-text-h2::after{
        width: 150px;
        bottom: -10px;
    }
}
/* tablet */
@media (min-width: 769px) and (max-width: 1024px    
){
    .navbar .navbar-row{
        flex-direction: column;
    }
    .navbar .navbar-row .navbar-column .navbar-seacrch{
        padding: 10px 100px 10px 20px;
        width: 100%;
    }
    .navbar2 .navbar-row{
        flex-direction: column;
        margin-left: 0;
    }
    .container-banner .row{
        flex-direction: column;
    }
    .container-banner .row .column .column-text-h2{
        margin: 30px;
    }
    .container-banner .row .column .column-text-h2::before{
        width: 200px;
        top: -15px;
    }
    .container-banner .row .column .column-text-h2::after{
        width: 200px;
        bottom: -15px;
    }
}